@import "../shared";

/* Favorite Field Component */

.field-list { border-bottom: 1px dotted #DADCE0; }
.field-list .item { border-top: 1px dotted #DADCE0; }
.field-list li.item:after {  content: "."; display: block; height: 0; visibility: hidden; clear: both; }

