<p class="field file-field avatar" id="avatarFieldsGroup">
  <span class="field-label">Profile Picture</span>
  <label class="control"><input class="input" name="<%= entity.class.to_s.underscore %>[avatar]" size="30" type="file"><span class="control-label action"><span>Browse</span></span></label>
</p>