<div class="details">
  <dl class="field">
    <dt class="field-label">Advisors</dt>
    <% entity.advisors.each do |advisor| %>
    <dd class="value"><%= advisor.name %></dd>
    <% end %>
  </dl>
  <% if !entity.policy_holders.empty? %>
  <dl class="field">
    <dt class="field-label">Policy Holders</dt>
    <% entity.policy_holders.each do |policy_holder| %>
    <dd class="value"><%= policy_holder.name %></dd>
    <% end %>
  </dl>
  <% end %>
  <dl class="field">
    <dt class="field-label">Carrier &amp; Product</dt>
    <dd class="value"><%= entity.carrier.name %></dd>
    <dd class="value"><%= entity.product.name %></dd>
  </dl>
</div>