@import "../shared";
@import "compass/utilities/sprites";


.cancel-link {
  margin: 8px;
  letter-spacing: 0.02em;
  display: inline-block;
  text-transform: capitalize;
  color: #696966;
  border-bottom: 1px solid #BDBDBD;
  font-size: 12px; 
}

/***************************************
*  Action Core Style 
****************************************/
.action { @include background($icons -9999px 0, linear-gradient(top, #EEE, #FFF)); position: relative; z-index: 1; margin: 0; display: inline-block; cursor: pointer; 
  font-size: 12px; line-height: 30px; font-weight: bold; text-decoration: none; color: #696966; text-transform: uppercase; text-shadow: 1px 1px 0 #fff;
   white-space: nowrap;  padding: 0 9px; margin: 0; letter-spacing:0.02em; height: 30px; -moz-box-sizing: border-box;   box-sizing: border-box;
   border: 1px solid #bdbdbd; border-radius: 7px;  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px; background-repeat: no-repeat;
  &:hover { color: #000; border-color: #999; }
}

.ical-action, 
.add-action,
.find-action,
.sum-action,
.pdf-action,
.add-tag-action,
.csv-action { padding-left: 27px; }

.ical-action { background-position: sprite-position($icons, calendar, 8px, 5px), top;  }
.csv-action { background-position: sprite-position($icons, csv, 8px, 5px), top;  }
.add-action { background-position: sprite-position($icons, add, 8px, 5px), top; }
.find-action { background-position: sprite-position($icons, find, 8px, 5px), top; }
.pdf-action { background-position: sprite-position($icons, pdf, 8px, 5px), top; }
.add-tag-action { background-position: sprite-position($icons, tag, 8px, 5px), top; } 

.sum-action { background-position: sprite-position($icons, sum, 3px, 5px), top; }
.calendar-action { background-position: sprite-position($icons, calendar, 3px, 5px), top; }

/*
.email-action { padding-left: 30px;  background-position: 7px -248px, top; }
.add-tag-action { background-image: url(/images/tag_16x16.png); background-position: 50% 30%;  }
*/
.clone-action, .select-all-action { 
  > * { display: inline; }
}


/* Action Group Styles */
.action-group { position: relative; z-index: 100; height: 22px; zoom: 1; 
	.action { display: inline-block; margin: 0; }
	.action-options { display: block; position: absolute; visibility: hidden; padding-top: 8px; background: transparent url(/images/upArrow.png) no-repeat scroll 10px top; top: 48px; left: 0; z-index: 100; border-bottom: 5px solid #7FA3D9; }
	.option:first-child { border-top: 5px solid #7FA3D9; }
	.option { background-color: #EDF0F7; display: block; border-color: #7FA3D9; border-style: solid; border-width: 0 5px; line-height: 30px; }
	.option > * { display: block; -webkit-appearance: none;  @include border-box; text-align: left; height: 30px; cursor: pointer; background-color: transparent; background-repeat: no-repeat; white-space: nowrap; border: none; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #8FAAD0; color: #122A3C; font-size: 14px; font-weight: normal; margin: 0; padding: 0 0.5em; text-decoration: none; }
	.option > a > span { border-bottom: none; color: #000; }
	.option > *:hover { background-color: #fcfeff; }
	
	.pdf-option > * { padding-left: 25px; background-image: url(/images/pdf-icon.png); background-position: 1px; }
	.csv-option > * { padding-left: 25px; background-position: 6px -946px; background-image: url(/images/sprite.png);}
	.email-option > * { padding-left: 25px; background-position: 4px center; background-image: url(/images/email.png);}
}
.action-group.active .action-options { visibility: visible;  top: 29px; }