@import "../shared";
@import "compass/css3/images";

.cancel-link {
  margin: 8px;
  letter-spacing: 0.02em;
  display: inline-block;
  text-transform: capitalize;
  color: #696966;
  border-bottom: 1px solid #BDBDBD;
  font-size: 12px; 
}

/***************************************
*  Action Core Style 
****************************************/
.action { position: relative; z-index: 1; margin: 0; display: inline-block; cursor: pointer; 
  font-size: 12px; line-height: 30px; font-weight: bold; text-decoration: none; color: #696966; text-transform: uppercase; text-shadow: 1px 1px 0 #fff;
  text-overflow: ellipsis; white-space: nowrap;  padding: 0 9px; margin: 0; letter-spacing:0.02em; height: 30px; -moz-box-sizing: border-box;   box-sizing: border-box;
   border: 1px solid #bdbdbd; border-radius: 7px;  @include background(url(/images/sprite.png) no-repeat -9999px 0, linear-gradient(top, #EEE, #FFF)); box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
  &:hover { color: #000; border-color: #999; }
}

/* Action Icons & Colors */
.email-action { padding-left: 30px;  background-position: 7px -248px, top; }

.ical-action { padding-left: 27px; margin-left: 9px;  background-position:  7px -105px, top; }
.csv-action { padding-left: 15px; background-position: 0 -948px, top;  }
.add-action { padding-left: 29px; background-position: 9px 6px, top; }
.csv-action { padding-left: 24px; background-position: 8px -946px, top;  }

.pdf-action { padding-left: 20px; background-image: url(/images/pdf-icon.png); background-position: left; }
.columns-action { padding-left: 18px; background-position: 0 -894px; margin-left: 9px; }
.find-action { padding-left: 29px;   @include background(url(/images/zoom.png) no-repeat 9px, linear-gradient(top, #EEE, #FFF)); }
.open-calendar  { background-position: 3px -106px, top; height: 26px; }


.sum-action {  @include background(url(/images/sum.png) no-repeat center 5px, linear-gradient(top, #EEE, #FFF)); }
.add-tag-action { background-image: url(/images/tag_16x16.png); background-position: 50% 30%;  }

.clone-action > *,
.select-all-action > * { display: inline; }


/* Action Group Styles */
.action-group { position: relative; z-index: 100; height: 22px; zoom: 1; 
	.action { display: inline-block; margin: 0; }
	.action-options { display: block; position: absolute; visibility: hidden; padding-top: 8px; background: transparent url(/images/upArrow.png) no-repeat scroll 10px top; top: 48px; left: 0; z-index: 100; border-bottom: 5px solid #7FA3D9; }
	.option:first-child { border-top: 5px solid #7FA3D9; }
	.option { background-color: #EDF0F7; display: block; border-color: #7FA3D9; border-style: solid; border-width: 0 5px; line-height: 30px; }
	.option > * { display: block; -webkit-appearance: none;  @include border-box; text-align: left; height: 30px; cursor: pointer; background-color: transparent; background-repeat: no-repeat; white-space: nowrap; border: none; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #8FAAD0; color: #122A3C; font-size: 14px; font-weight: normal; margin: 0; padding: 0 0.5em; text-decoration: none; }
	.option > a > span { border-bottom: none; color: #000; }
	.option > *:hover { background-color: #fcfeff; }
	
	.pdf-option > * { padding-left: 25px; background-image: url(/images/pdf-icon.png); background-position: 1px; }
	.csv-option > * { padding-left: 25px; background-position: 6px -946px; background-image: url(/images/sprite.png);}
	.email-option > * { padding-left: 25px; background-position: 4px center; background-image: url(/images/email.png);}
}
.action-group.active .action-options { visibility: visible;  top: 29px; }