@import "../shared";

/* Autocomplete Styles */
.autocomplete-results { min-width: 200px; max-width: 300px; position: absolute; top: 30px; left: 0px; z-index: 10000; padding-top: 9px; border-bottom: 4px solid #8dadd6; clear: both; font-size: 12px; text-indent: 5px; 
  
  &:before { content: ""; position: absolute; height: 0; width: 0; left: 10px; top: -7px; border: 8px solid #8AAED3; border-color: rgba(0,0,0,0) rgba(0,0,0,0) #8AAED3; }
  
  .item { display: block; background-color: $blue-lightest; cursor: pointer; position: relative; border: 4px solid #8dadd6; border-width: 0 4px; line-height: 28px; overflow: visible; 
    &:first-child { border-top-width: 4px; }
    &.selected { background-color: #f8fbff; }
    
    .action {  float: right; margin: 1px 3px 0; text-indent: 0; padding: 0; }
  }

  .result-title { font-weight:normal; line-height: normal; font-size: 12px; text-indent: 0; position: relative; width: 96%;  overflow: hidden; color: #587aa2; ; margin: 0; padding: .5em 2%;  border-top: 1px solid #FFF; border-bottom: 1px solid #4e6e9d;
    &:focus { z-index: 1; }
    > a { display: block; font-size: 13px; color: #587aa2; text-decoration: none; zoom: 1; }
  }
  
  .details { text-indent: 0; display: none; position: absolute; top: 0; width: 200px; left: 0; margin-left: -215px; padding-right: 9px; 
    &:before { content: ""; position: absolute; height: 0; width: 0; right: -7px; top: 10px; border: 8px solid #7FA3D9; border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #7FA3D9; }
    
    
    .field { float: none; display: block; margin: 0; background-color: #7FA3D9; padding: 3px; }
    .field + .field { padding-top: 0;  }
    .field-label { font-weight: bold; padding-left: 10px; margin: 0; text-transform: uppercase; color: #3d6395; background-color: #cdddf4; border-bottom: 1px solid #aec2de; text-shadow: 0px 1px #aec2de; }
    .value { color:#587aa2; background-color: $blue-lightest; height: auto; padding: 0 0 0 10px; margin: 0; border-top: 1px solid #FFF; border-bottom: 1px solid #4e6e9d; font-size: 13px;  }
  }
  
  &.right-align .details { right: 0; margin-right: -215px; margin-left: 0; left: auto; background-position: left 10px; padding: 0 0 0 9px; 
    &:before { border-color: rgba(0,0,0,0)  #8AAED3 rgba(0,0,0,0) rgba(0,0,0,0); right: auto; left: -7px; }
  }
  .selected .details { display: block; }
}

.autocomplete-results {
  .title { margin: 0; }
  .title > a { color: #122A3C; font-size: 12px; text-decoration: none; }
  .result > input { display: none; }
  .waiting { display: block; font-size: 13px; padding-left: 20px; background-image: url(/images/addingResult.gif); background-repeat: no-repeat; background-position: 5px; }
  .waiting .result-title { font-size: 12px; border: none; color: #587aa2;}
  .error, .error.selected { background-color: #FDE2E4; }
  .error .result-title { color: #BC180F; }
}

/* Search Results */
.search-results {
  .result { border-top: 1px dotted #B7B9BE; padding: 10px 0; }
  .result-title { margin: 0; }
  .result-title > a { color: #4E6E9D; display: inline; font-family: Georgia; font-size: 14px; font-weight: normal; }
  .field { margin: 3px 0; float: none; }
  .field-label { color: #858993; font-size: 12px; float: left; clear: left; margin-right: 5px;  }
  .field-label:after { content: ":"; }
  .value { display: inline-block !important; font-size: 12px; margin: .5em; }
}

.search .open .option { border-right-color: #7FA3D9; }
