@import "../shared";

/************************************
*  Indexes
************************************/
.form + .records { margin-top: 2em; }

.edit-list {  font-size: 14px; margin-left: 20px; color: #808080; 
  span { color: #888; }
}

.records-actions:after { @include clear-fix; }
.records-actions { background-color: #F7F8FB; border: 1px solid #B4C7E0; border-bottom: none; padding: 5px; border-bottom: none; text-align: left;
  .action { float: right; margin-left: 5px; }
  .field-label { font-size: 14px; text-transform: uppercase; font-family: Georgia; color: #16355B; }
  .export { float: right; margin-left: 5px; }
  .action-group { float: right; margin-bottom: 10px; }
}

.screen-records-field { float: left; margin: 0; padding: 0 3px; height: 28px; line-height: 28px; border: 1px solid #e3e3e3; background-color: #e9ebee; border-radius: 7px;
  > label { float: left; }
  > .action { display: none; }
}

.records-actions + .records { overflow-y: visible; margin-bottom: 10px; }

.records { position: relative; overflow-x: scroll;
  table { clear: both;  border-spacing: 0; border-collapse: collapse; width: 100%; font-size: 12px; text-align: left; position: relative; border: none; }
  th { border: 1px solid #B4CCEE; color: #3D6395; padding: .5em 0;  background-color: $blue-gray; text-indent: .5em; line-height: 22px; white-space: nowrap; cursor: pointer; }
  th label { padding: 0 5px 0 0; }
  th span { display: block; position: relative; padding-right: 25px; }
  tbody { overflow: auto; position: relative; border: 1px solid #EDF0F7; border-top: none; }
  td { color: #737373; border: 1px solid #EDF0F7; padding: .5em; background-color: #FFFFFF; border-width: 1px 0 0 1px; }
  td a { color: #16355B; border-bottom: 1px solid $gray-lighter; text-decoration: none; }
  .odd td { background-color: #F7F8FB; }

  address span { white-space: nowrap; font-style: normal; }
  .addresses li + li { margin-top: 10px; }
  .phones li { white-space: nowrap; }
  .text span, .text a { white-space: nowrap; }
  td.number { text-align: right; }
  .states span { max-width: 100px; display: block; white-space: pre-wrap; ;}

  tr:hover td, .highlight td { background-color: #E5E6EC; }

  .sort-control { @include background($icons no-repeat); background-position: sprite-position($icons, sortDown, 1px, 0); display: inline-block; width: 20px; height: 20px; border: none; margin: 0; overflow: hidden; text-indent: 20px; cursor: pointer; line-height: 0; position: absolute; top: 0; right: 5px;}
  .sort-control:hover { background-position: sprite-position($icons, sortDownSelected, 1px, 0); }
  .ascending, .ascending:hover { background-position: sprite-position($icons, sortUpSelected, 1px, 0); }
  .descending, .descending:hover { background-position: sprite-position($icons, sortDownSelected, 1px, 0); }

  .actions { list-style: none; float: left; margin: 0; padding: 0; }
  .actions li { float: left; }
  .actions li + li { margin-left: .5em; }
  
  .empty { height: 40px; line-height: 40px; padding: 0 25px; font-size: 12px; color: #737373; font-style: italic; }
  .highlight .empty, .empty:hover { background-color: #FFF !important; }
}

.hidden { display: none; }

/*************************************
*   Paging Control
*************************************/
.page-control {  border: 1px solid $gray-lighter; padding: 5px; margin: 0; float: right; position: relative;
  li { display: block; float: left; white-space: nowrap;  }
  input { text-decoration: none; display: inline-block; background: transparent; border: none; height: 30px; line-height: 30px; font-size: 11px; padding: 0 10px; margin: 0; cursor: pointer; }

  .next, .previous { background-color: $blue-gray; border: 1px solid $blue-gray; 
    input {  color: #16355B; }
  }
  
  .page { border: 1px solid $gray-lighter; 
    input { color: #4E6E9D; }
    input:hover { background-color: #7FA3D9; color: #F3F3F3; }
    + .page { border-left: none; }
  }

  .hidden-pages { border: 1px solid $gray-lighter; border-width: 1px 0; background-color: $gray-lightest; 
    > abbr { display: block; height: 30px;  padding: 0 10px;  line-height: 30px; }
  }

  .current { background-color: #152130; 
    input { color: #FFF; }
  }
}


/*************************************
*   Edit Popout
*************************************/
.edit-record-popout { position: absolute; padding: 5.5px 0 7px 7.5px; width: 27.5px; border: 1px solid #EDF0F7; border-right: none; border-radius: 250px 0 0 250px;
  background: #fff; font-size: 12px; left: -9999px;
  a { font-size: 12px; color: #16355B; border-bottom: 1px solid #E3E3E3; }
}
.edit-record-hide { position: absolute; left: -9999px; }
.edit-record { display:none; }
