@import "../shared";


/* No Results Messages */
.no-results { clear: both; }
.empty-report { clear: both; color: $gray-lighter; padding: 4px; text-align: center; font-size: 2em; text-transform: lowercase; margin-top: 2em; }

.download-report { position: absolute; top: 15px; right: 1px; }
.download-report li { display: inline; }

/*********************************************************** 
* Specialized Report Styles
***********************************************************/
.report-wrap { overflow-x: auto; position: relative; float: left; max-width: 100%; }

/* Individual Report Section */
.individual {
  .entities { float: left; width: 49%; }
  .entity { float: none; clear: both; }
  .information { float: right; width: 49%;  }
  .time-period { clear: both; width: 100%; }
  .organization { padding: 8px 0 2px; }
}

/* Year End Premium Section */
.year-premium { 
  .entity, .channel, .status, .report-year { float: left; }
}

/* Itemized Reports */
.itemized { 
  .field { margin-right: 1em; }
  .entity { float: left; }
  .status { float: left; }
  .time-period { float: left; width: 220px; }
  .style { float: left; }
  .channel { float: left; }
}

