@import "../shared";
@import "compass/css3/images";

/************************************
* Common Forms
************************************/
.form { position: relative; 
  &:after { @include clear-fix; }
}

form.form { padding: 10px; background-color: $gray-lightest; border: 1px solid #cbcac8; }
form.form, .inline-form { 
  .field-group, .sub-field-group { border-top: 1px dotted #B7B9BE; margin-top: 0; }
  .field-group-head, .sub-field-group-head {background-color: #F6F6F6; color: #696966;  text-transform: uppercase; font-weight: normal; position: static; }
  .field-group-head .action { margin-left: 1em; }
  .error input[type=text] { border-color: #E3A2A5; color: #BC180F; background: #FDE2E4; }
  .error select { color: #BC180F; background-color: #FDE2E4; }
}

div.form {
  .field-group ~ .field-group { padding-top: 1em; }
  .field-group:first-child { margin-top: 0; border-top-style: none; }
  .field-group:first-child .field-group-head { position: absolute; visibility: hidden; }
  .field-group-head, .sub-field-group-head { margin-bottom: 1em; background-color: #FFFFFF;}
  span.field-label, dfn.field-label { display: block; }
  .field > * { margin: 0 10px 0 0; }
  .value { display: block; min-height: 14px; padding: 6px 0 6px 4px; border-bottom: 1px solid #E9EBEE; background-color: $gray-lightest; }
}

/************************************
*  Form Action Section
************************************/
.inline-form { z-index: 10000; position: fixed; top: 50px; width: 750px; margin: 0 0 0 -375px; border: none; padding: 0; left: 50%;
  &:before { content: ""; z-index: -1; position: absolute; top: -30px; right: -30px; left: -30px; bottom: -30px;  background-color: rgba(0,0,0,.3);  border-radius: 12px;}
  &:after { content: ""; z-index: -1; position: absolute; top: -10px; right: -10px; bottom: -10px; left: -10px; background-color: $gray-lightest;  box-shadow: 0 0 5px rgba(0,0,0,0.4); border-radius: 6px;}
  .inline-form-head { visibility: hidden; position: absolute; }
}

/************************************
*  Form Action Section
************************************/
.form-actions { clear: both; padding: .5em; text-align: right; background-color: #f0f0ee; border: 1px solid #cbcac8; border-top-style: dashed; 
  &:after { @include clear-fix; }
  &:first-child { visibility: hidden; position: absolute; }
  .action { float: right; margin-left: 5px; }
  .cancel-link, .cancel-action { float: left; }
  .delete-action, .disable-action { float: left; }
}

/************************************
*  Common Field Lists
************************************/
.field-list { margin: 0; padding: 0;
  .item { position: relative; }
  .search { margin-top: 0; width: 100%; }
  .search > .field-label { display: none; }
  .flags .hot-value { display: block; margin: 2px 0; }
}

table.field-list { width: 100%; border-spacing: 0; 
  th.actions,
  th.flags { text-indent: -9999px; position: relative; overflow: hidden; }
  .item:first-child > td { padding-top: 0; border-top: none; }
  thead th { text-align: left; }
  thead .error { color: #BC180F; font-weight: bold; }
  .item > td { border-top: 1px dotted #DADCE0; padding: 6px 10px 6px 0; list-style: none; vertical-align: middle; }
  .search-field, .date-field { width: 100%; margin-bottom: 0; /* Hide field labels of dates and searches in tables */
    .field-label { display: none; }
  }
}

ul.field-list, ol.field-list { list-style: none; 
  > li.item:after {  content: "."; display: block; height: 0; visibility: hidden; clear: both; }
  .item {  border-top: 1px dotted #DADCE0; padding: 6px 10px 6px 0; list-style: none; }
  .item:first-child { border-top: none; }
}

/************************************
*  Common Field Group Index
************************************/
.field-group-index { position: relative; width: 20%; float: left; clear: both; margin-bottom: 1.5em; overflow: visible;
  ~ .field-group { display: none; position: relative; float: right; width: 78%; clear: none; }
  ~ .selected { display: block; margin-bottom: 1.5em; }
  + .field-group { display: block; }
  
  .index { display: block; margin: 0; border: 1px solid #D6D6D6;  position: relative; background: #FFF; @include background(linear-gradient(top, #FAFAFA, #E2E3E6)); }
  .index + .index { border-top: none; }
  .index:first-child { border-top: 1px solid #C4C4C4;  border-radius: 3px 3px 0 0; }
  .index:last-child { border-radius: 0 0 3px 3px; }
  a { position: relative; padding: .75em 0; text-indent: 1.5em; display: block; text-decoration: none; color: #494C51; font-size: 12px; font-weight: normal; border-bottom: none; }
  a:focus { outline: none; }
  
  .selected { border: 1px solid #B0B0B0 !important; @include background(linear-gradient(top, #FAFAFA, #F4F4F5)); 
    a { color: #D07C02; }
    a:before, a:after {  content: ""; width: 0; height: 0; border: 5px solid #F7F7F7; border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #F7F7F7; position: absolute; right: -10px; top: 50%; margin-top: -4px;  }
    a:before { border-width: 7px; margin-top: -6px; border-left-color: #B0B0B0; margin-right: -4px; }
  }
  
}


/**************************************
*  Validation Errors
**************************************/
.content-alerts { margin-bottom: 1em;  padding: 1em; border-style: solid; border-width: 1px 0; 
  .title { font-family: Georgia; font-size: 21px; font-weight: normal; margin: 0; }
  .alerts { margin-top: .5em; }
  .alert { @include background($icons no-repeat); font-size: 12.5px; padding: 0 0 5px 25px; margin: 0; }
  .alert-actions { margin-top: 10px; }
  .alert-actions .cancel-link { float: right; }
}

.content-errors {  background: #FDE2E4; border-color: #E3A2A5; color: #BC180F; 
  .title { color: #BC180F; }
  .error { background-position: sprite-position($icons, exclamation, 0, 0); color: #BC180F;  }
}

.content-warnings { background-color: #F7E6A1; border-color: #E1A63C;  color: #AD370D; 
  .title {  color: #AD370D; }
  .warning { background-position: sprite-position($icons, warning, 0, 0); color: #AD370D; }
}

.validation-errors {
 .validation-actions { margin: 1em 0 0;
    .delete-action { float: right; }
  }
}
