@import "../shared";

/************************************
* Common Forms
************************************/
.form { position: relative; }
.form:after { @include clear-fix; }

form.form, .inline-form { padding: 10px; background-color: $gray-lightest; border: 1px solid #cbcac8;
  .field-group, .sub-field-group { border-top: 1px dotted #B7B9BE; margin-top: 0; }
  .field-group-head, .sub-field-group-head {background-color: #F6F6F6; color: #696966;  text-transform: uppercase; font-weight: normal; position: static; }
  .field-group-head .action { margin-left: 1em; }
  .error input[type=text] { border-color: #E3A2A5; color: #BC180F; background: #FDE2E4; }
  .error select { color: #BC180F; background-color: #FDE2E4; }
}

div.form {
  .field-group ~ .field-group { padding-top: 1em; }
  .field-group:first-child { margin-top: 0; border-top-style: none; }
  .field-group:first-child .field-group-head { position: absolute; visibility: hidden; }
  .field-group-head, .sub-field-group-head { margin-bottom: 1em; background-color: #FFFFFF;}
  span.field-label, dfn.field-label { display: block; }
  .field > * { margin: 0 10px 0 0; }
  .value { display: block; min-height: 14px; padding: 6px 0 6px 4px; border-bottom: 1px solid #E9EBEE; background-color: $gray-lightest; }
}

/************************************
*  Form Action Section
************************************/
.inline-form .inline-form-head { visibility: hidden; position: absolute; }

/************************************
*  Form Action Section
************************************/
.form-actions:after { @include clear-fix; }
.form-actions:first-child { visibility: hidden; position: absolute; }
.form-actions { clear: both; padding: .5em; text-align: right; background-color: #f0f0ee; border: 1px solid #cbcac8; border-top-style: dashed; 
  .action { float: right; margin-left: 5px; }
  .cancel-link, .cancel-action { float: left; }
  .delete-action, .disable-action { float: left; }
}

/************************************
*  Common Field Lists
************************************/
.field-list { margin: 0; padding: 0;
  .item { position: relative; }
  .search { margin-top: 0; width: 100%; }
  .search > .field-label { display: none; }
  .flags .hot-value { display: block; margin: 2px 0; }
}

table.field-list { width: 100%; border-spacing: 0; 
  th.actions,
  th.flags { text-indent: -9999px; position: relative; overflow: hidden; }
  .item:first-child > td { padding-top: 0; border-top: none; }
  thead th { text-align: left; }
  thead .error { color: #BC180F; font-weight: bold; }
  .item > td { border-top: 1px dotted #DADCE0; padding: 6px 10px 6px 0; list-style: none; vertical-align: middle; }
  .search-field, .date-field { width: 100%; margin-bottom: 0; /* Hide field labels of dates and searches in tables */
    .field-label { display: none; }
  }
}

ul.field-list, ol.field-list { list-style: none; 
  > li.item:after {  content: "."; display: block; height: 0; visibility: hidden; clear: both; }
  .item {  border-top: 1px dotted #DADCE0; padding: 6px 10px 6px 0; list-style: none; }
  .item:first-child { border-top: none; }
}

/************************************
*  Common Field Group Index
************************************/
.field-group-index ~ .field-group { display: none; position: relative; float: right; width: 78%; clear: none; }
.field-group-index ~ .selected { display: block; margin-bottom: 1.5em; }
.field-group-index + .field-group { display: block; }
.field-group-index { position: relative; width: 20%; float: left; clear: both; margin-bottom: 1.5em; overflow: visible;
  .index { display: block; margin: 0; border: 1px solid #D6D6D6;  position: relative; background: #FFF; @include linear-gradient(top, #FAFAFA, #E2E3E6); }
  .index + .index { border-top: none; }
  .index:first-child { border-top: 1px solid #C4C4C4;  border-radius: 3px 3px 0 0; }
  .index:last-child { border-radius: 0 0 3px 3px; }
  a { padding: .75em 0; text-indent: 1.5em; color: #494C51; width: 100%; display: block; text-decoration: none; color: #494C51; font-size: 12px; font-weight: normal; border-bottom: none; }
  a:focus { outline: none; }
  .selected { border: 1px solid #B0B0B0 !important; @include linear-gradient(top, #FAFAFA, #F4F4F5); }
  .selected a { position: relative; padding-right: 8px; background: transparent url(/images/sub_tab_arrow.png) no-repeat right 50%; color: #D07C02; }
}

/*************************************
* Inline Add Form
*************************************/
.overlay { position: fixed; top: 0; right: 0; left: 0; bottom: 0;  background-color: rgba(0,0,0,.2); z-index: 99999;
	.overlay-wrap { padding: 20px; background-color: #FFF; max-height: 80%; overflow-y: auto; border-radius: 5px;  margin: 5% auto 0; width: 760px; -webkit-box-shadow: 0 0 10px #353535; -moz-box-shadow: 0 0 10px #353535; box-shadow: 0 0 10px #353535; }
	.overlay-wrap:after { @include clear-fix; }
}

/**************************************
*  Validation Errors
**************************************/
.content-alerts { margin-bottom: 1em;  padding: 1em; border-style: solid; border-width: 1px 0; }
.content-alerts .title { font-family: Georgia; font-size: 21px; font-weight: normal; margin: 0; }
.content-alerts .alerts { margin-top: .5em; }
.content-alerts .alert { background-color: transparent; background-repeat: no-repeat;  font-size: 12.5px; padding: 0 0 5px 25px; margin: 0; }
.content-alerts .alert-actions { margin-top: 10px; }
.content-alerts .alert-actions .cancel-link { float: right; }

.content-errors {  background: #FDE2E4; border-color: #E3A2A5; color: #BC180F; }
.content-errors .title { color: #BC180F; }
.content-errors .error { background-image: url(/images/exclamation.png); color: #BC180F;  }

.content-warnings { background-color: #F7E6A1; border-color: #E1A63C;  color: #AD370D; }
.content-warnings .title {  color: #AD370D; }
.content-warnings .warning { background-image: url(/images/warning.png); background-position: 0 -2px;  color: #AD370D; }

.validation-errors .validation-actions { margin: 1em 0 0; zoom: 1; }
.validation-errors .validation-actions .delete-action { float: right; }
