@import "../shared";


/*************************
 Report Styles
*************************/
ul { list-style: none; }
html, body, dl, p, dt, dd, ul, li { padding: 0; margin: 0; }

td > * { page-break-inside: avoid; }
