<div class="field-group">
<h5 class="field-group-head"><%= label %></h5>
<% if data %>
  <p class="field"><span class="value"><%= data %></span></p>
<% else %>
  <p class="field empty"><span class="value"></span></p>
<% end %>
</div>