<div class="field-group">
  <h5 class="field-group-head">Emails</h5>
  <% primaries = entity.emails.primaries %>
  <% if primaries.empty? %>
  <p class="field empty"><span class="value">--</span></p>
  <% else %>
  <ul class="field-list">
    <% primaries.group_by(&:location).each do |location, emails| %>
    <li class="item">
      <dl class="field">
        <dt class="field-label"><% location %></dt>
        <% emails.each do |email| %>
        <dd class="value<%= " favorite" if email.is_favorite %>"><a href="mailto:<%= email.address %>"><span><%= email.address %></span></a></dd>
        <% end %>
      </dl>
    </li>
    <% end %>
  </ul>  
  <% end %>
</div>