<% if !entity.addresses.empty? || entity.person.birth_date %>
<div class="details">
  <% if entity.person.birth_date %>
  <dl class="field">
    <dt class="field-label">Date of Birth</dt>
    <dd class="value"><%= format_date(entity.person.birth_date) %></dd>
  </dl>
  <% end %>
  <% if !entity.addresses.empty? %>
  <dl class="field">
    <dt class="field-label">States</dt>
    <% entity.addresses.each do |address| %>
    <dd class="value"><%= address.state %></dd>
    <% end %>
  </dl>
  <% end %>
</div>
<% end %>