@import "../shared";

/***************************************
* Agencies Search Form Skin
* @extends .records-form
***************************************/
.agencies-info { float: left; width: 43%; clear: none; margin-right: 2%;
  .name { width: 70%; }
  .tax-id { width: 29.9%; }
}

.agencies-phone { float: left; width: 15%;
}

.agencies-address {  float: left; width: 38%; margin-right: 2%;
  .city { width: 49%; }
  .state { width: 20%; }
  .zipcode { width: 30%; }
}

.agencies-advisor {
}

/***************************************
* Agency Record Form Skin
* @extends .record-form
***************************************/
.agency-form .agency .name { width: 70%; }
.agency-form .agency .taxid { width: 29.9%; }

/***************************************
* Agency Record Skin
* @extends .record
***************************************/
.agency-record .agency .name { width: 70% }
.agency-record .agency .taxid { width: 30% }

/*********************************************
* Agency Advisor  Styles
*********************************************/
.agency-advisors-form { width: 50%; 
  .name { width: 80%; margin-bottom: 0; }
  .name + form { float: right; }
}

.agency-advisors { margin-top: 1em !important; border-top-style: dotted !important;
  .field-group-head { visibility: visible !important; }
  .search-field { width: 100%; margin-top: 1.01em;
    .field-label { display: none; }
    > div { margin-right: 0; }
  } 
}

/*
.agency-advisors-record { border: none; padding: 0; margin: 0; width: 100%; background-color: #FFF; }
.agency-advisors-record .empty { color: #60656C; border-top: 1px dotted #DADCE0; padding: 0.5em 0px; line-height: 22px; }
.agency-advisors-record .search { width: 50%; margin-bottom: 0; }
.agency-advisors-record .field-group { padding-bottom: 0 !important; }

.agency-advisors-record th.actions { text-indent: -999px; overflow: hidden; }
.agency-advisors-record .name { width: 50%; }
.agency-advisors-record .ownership { width: 200px; } 
.agency-advisors-record .field.ownership { margin-bottom: 0; }
.agency-advisors-record .ownership label { margin-right: 12px;  }
.agency-advisors-record .ownership .field-label { display: none !important; }
.agency-advisors-record .field-list .action { float: left; margin-right: 1em; }
.agency-advisors-record .field-list .action + form { float: left; }
*/