@import "../shared";

/***************************************
* Contracts Search Skin
* @extends .records-form
***************************************/
.contracts-form .advisor { width: 49%; float: right; clear: none; padding-bottom: 1em; z-index: 2; /* IE hack */ }
.contracts-form .managed-by { width: 49%; float: left; clear: both; }
.contracts-form .carrier { width: 49%; float: right; clear: none; }
.contracts-form .master { margin-top: 26px; }

.contracts-form .channel { width: 34%; margin-right: 1%; float: left; clear: none; }
.contracts-form .license { width: 15%; float: left; clear: none; }

.contracts-form .contract .number { width: 25%; }
.contracts-form .contract .submitted-date-after { width: 30%; }
.contracts-form .contract .submitted-date-before { width: 30%; }

.contracts-form .channel .channel-id,
.contracts-form .channel .status { width: 49%; }

.contracts-form .search-field { width: 100%; }
.contracts-form .search-field .field-label { visibility: hidden; }

/***************************************
* Contracts Record Form Skin
* @extends .record-form
***************************************/
.contract-form .contracted .advisor { float: left; width: 40%;  clear: left; }
.contract-form .number-type { float: left; width: 15%; margin-right: 5% }
.contract-form .contracted .agency { float: left; width: 40%;  }

.contract-form .carrier { float: left; width: 40%; clear: left;  }
.contract-form .upline-contract { float: left; width: 40%; }
.contract-form .level { float: left; width: 15%; margin-right: 5%; }

.contract-form .contract .number { width: 27%; }
.contract-form .contract .submitted-date { width: 30%;  }
.contract-form .contract .effective-date { width: 30%; }
.contract-form .contract .eligibility { width: 13%; }

.contract-form .license { float: left; width: 49%; clear: left; }
.contract-form .license .licenses .field-label { position: absolute; left: 0; }
.contract-form .license .agency .control,
.contract-form .license .advisor .control { float: left; margin-right: 1em; }
.contract-form .license .empty { text-indent: 0; }

.contract-form .channels { float: right; width: 49%; margin-bottom: 1em; }
.contract-form .channels th.channel { text-indent: -999px; position: relative; visibility:hidden; }

/***************************************
* Contracts Record  Skin
* @extends .record
***************************************/
.contract-record .contracted { clear: left;  margin: 1em 0; padding-top: 0;}
.contract-record .contracted-advisor { float: left; width: 42.5%;  clear: left; }
.contract-record .number-type { float: left; width: 15%; }
.contract-record .contracted-agency { float: left; width: 42.5%;  }

.contract-record .carrier { float: left; width: 42.5%; clear: left;  }
.contract-record .upline-contract { float: left; width: 42.5%; }
.contract-record .level { float: left; width: 15%;   }

.contract-record .contract .number { width: 27%; }
.contract-record .contract .submitted-date { width: 30%;  }
.contract-record .contract .effective-date { width: 30%; }
.contract-record .contract .eligibility { width: 13%; }

.contract-record .carrier .level { width: 100%; clear: left; width: 100%; }

.contract-record .carrier .name,
.contract-record .contracted .name,
.contract-record .upline-contract .name { width: 100%; }

.contract-record .license  { float: left; width: 49%; clear: left; }
.contract-record .license .licenses { width: 100%; }
.contract-record .channels { float: right; width: 49%; }