@import "../shared";

/*************************************
* Core Form Structure
*************************************/
.form { position: relative; }
.form:after { content: "."; display: block; visibility: hidden; clear: both; height: 0; }
.form .field-group { border: none; padding: .5em 0 2em; position: relative; margin: 0; font-size: 12.5px; letter-spacing: .04em; }
.form .sub-field-group { float: left; width: 50%; margin: 0; padding: 0; border: none; }
.form .field-group-head { padding: 0 .5em 0 0; height: 17px; margin: 0; color: #696966;  background-color: $gray-lightest; font-size: 14px; font-weight: normal; text-transform: uppercase; }
.form .sub-field-group-head { font-weight: normal; color: #696969; padding: 0 .5em 0 0; margin: 0; }
/*.form h4.field-group-head { position: absolute; top: -8px; left: 0; }*/




.form .field { border: none; position: relative; }
.form .field > label { display: block; }
.form .field-label { font-weight: normal; font-size: 12px; height: 12px; line-height: 12px; padding: 6px 0; text-align: left; }
.form .text .input,
.form .search .input { display: block;  padding: 3px 0; margin: 0; width: 100%; line-height: 18px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.form .text label .field-label,
.form .search label,
.form .select label .field-label,
.form .file .field-label { display: block; }
.form .checkbox .input { margin: 0; }
.form .radio .input { margin: 0; }
.form .form-actions { clear: both; padding: .5em; text-align: right; background-color: #f0f0ee; zoom: 1; border: 1px solid #cbcac8; border-top-style: dashed;}
.form .form-actions:after { content:"."; display: block; visibility: hidden; height: 0; clear: both; }
.form .form-actions .action { float: right; margin-left: 5px; }
.form .form-actions .delete-action,
.form .form-actions .disable-action { float: left; }
.form .select .input { display: block; position:relative; max-width: 100%; }
.form p.select .input { top: 4px; } 
.form .input { font-size: 12px; }
.form .radio .control, 
.form .checkbox .control { margin: .5em 0; }
.form .radio .control-label, 
.form .checkbox .control-label { white-space: nowrap; }
.form .control { white-space: nowrap; line-height: 18px; }
.form .field-label .format { font-size: 10px; }


.form .field { margin: 0 0 1em; padding: 0; float: left; }
.form .field > label { margin-right: 10px; }
.form .value { display: block; margin: 0 10px 0 0; padding: 5px;  min-height: 14px; }
.form .text .value { background-color: #FFF; border: 1px solid $gray-lighter; }
.form .field-label { font-style: normal; color: #000; white-space: nowrap; }


.form .file { position: relative;}
.form .file .input { position: absolute; opacity: 0; top: 0; bottom: 0; right: 0;   z-index: 9999; filter: alpha(opacity=0);  cursor: pointer;}
.form .file .control {  text-align: right; height: 24px; line-height: 24px; background-color: #fff; border: 1px solid #DADCE0; position: relative; overflow: hidden; cursor: pointer; }
.form .file .control-label { border-radius: 0; border-width: 0 0 0 1px; cursor: pointer; z-index: 1; position: relative;}
.form .file .control-label > * {  }
.form .file .file-label { position: absolute; left: 4px; top: 0; }
.form .file .file-label.empty { color: #B7B9BE; }

/* Entity Search */
.form .search > div { position: relative; top: -3px;padding: 2px; background-color: #f0f0ee; border: 1px solid #DBDAC8;  border-radius: 3px; margin-right: 10px; }
.form .search > div:after { content: "."; display: block; visibility: hidden; clear: both; height: 0; }
.form .search .tokens:after { content: "."; display: block; visibility: hidden; clear: both; height: 1px; }
.form .search .tokens { min-height: 21px; position: relative; -webkit-appearance: textfield; -moz-appearance:textfield; border: 1px solid #848484; border-color: #848484 #C1C1C1 #E0E0E0 #C1C1C1; background-color: #FFF; padding: 3px 0; position: relative; zoom: 1; }
.form .search .field-label { margin: 0; }
.form .search .autocomplete-results { top: 100%; left: 0; }
.form .search .search { display: block; position: relative; }
.form .search .input { z-index: 1; height: 20px; line-height: 20px; background-color: transparent; -webkit-appearance: none; padding: 1px 0; border-width: 0; outline: none; outline-width: initial; outline-color: initial; }
.form .search .query {  margin-left: 2px; min-width: 125px; height: 20px; line-height: 20px; }
.form .search .query input[type=submit] { visibility: hidden; position: absolute; }
.form .search .token { margin: 0 2px; padding: 0 5px; line-height: 18px; font-size: 11.5px; background-color: #e6f0fd; border-radius: 3px; border: 1px solid #b4caee; }
.form .search .token input { margin: 0; }
.form .search .token + .query { display: none; /* this is default as most searches are singleton */ }
/* Enitty Search with Screen filter */
.form .screened-search > div { padding-right: 97px;  }
.form .screened-search .screens { position: absolute; top: 2px; right: 2px; width: 88px;  float: left; height: 27px; padding: 0 3px; line-height: 27px; background-color: $blue-lightest; border: 1px solid #848484; border-color: #848484 #C1C1C1 #E0E0E0 #C1C1C1; border-left: none; }
.form .screened-search select { width: 100%; font-size: 12px; } 
/* Multiple Search Entities */
.form .search-multiple .token,
.form .search-multiple .query { float: left; margin: 2px; }
.form .search-multiple .token + .query { display: block; }

.form .form-actions:first-child {
position: absolute;
visibility: hidden;
}

.form .text.error .input, 
.form .search.error .tokens { border-color: #E3A2A5; color: #BC180F; background: #FDE2E4; }
.form .error .field-label { font-weight: bold; color: #BC180F !important; }
.form .error .control-label { font-weight: bold; color: #BC180F !important; }

/* Form Label Fields, just display text */
.form .label { font-size: 13px; }
.form .label.error { color: #BC180F; }

.form .empty { color: #60656C; font-weight: normal; }

/************************************
*  Field Group Index
************************************/
.field-group-index { clear: both; float: left; width: 20%; margin-bottom: 1.5em; position: relative; overflow: visible;}
.field-group-index > .index { display: block; margin: 0; border: 1px solid #D6D6D6;  position: relative; zoom:1 ;
     background: #FFF;
     background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FAFAFA), to(#E2E3E6)); 
     background: -moz-linear-gradient(19% 75% 90deg,#FAFAFA, #E2E3E6); 
}
.field-group-index > .index + .index { border-top: none; }
.field-group-index > .index:first-child { border-top: 1px solid #C4C4C4; }
.field-group-index > .selected {
 border: 1px solid #B0B0B0 !important;
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, to(#FAFAFA), from(#F4F4F5));
 background: -moz-linear-gradient(19% 75% 90deg, #F4F4F5, #FAFAFA);
}
.field-group-index > .index > a { padding: .75em 0; text-indent: 1.5em; color: #494C51; width: 100%; display: block; text-decoration: none; color: #494C51; font-size: 12px; font-weight: normal; border-bottom: none; }
.field-group-index > .selected a { position: relative; padding-right: 8px; background: transparent url(/images/sub_tab_arrow.png) no-repeat right 50%; color: #D07C02; }
.field-group-index > .index > a:focus { outline: none; }
.field-group-index ~ .field-group { display: none; position: relative; float: right; width: 78%; clear: none; margin-top: 1em; }
.field-group-index ~ .selected { display: block; margin-bottom: 1.5em; }
.field-group-index > .index:first-child { border-radius: 3px 3px 0 0; }
.field-group-index > .index:last-child { border-radius: 0 0 3px 3px; }

/**************************************
*  Validation Errors
**************************************/
.content-alerts { margin-bottom: 1em;  padding: 1em; border-style: solid; border-width: 1px 0; }
.content-alerts .title { font-family: Georgia; font-size: 21px; font-weight: normal; margin: 0; }
.content-alerts .alerts { margin-top: .5em; }
.content-alerts .alert { background-color: transparent; background-repeat: no-repeat;  font-size: 12.5px; padding: 0 0 5px 25px; margin: 0; }
.content-alerts .alert-actions { margin-top: 10px; }
.content-alerts .alert-actions .cancel-action { float: right; }

.content-errors {  background: #FDE2E4; border-color: #E3A2A5; color: #BC180F; }
.content-errors .title { color: #BC180F; }
.content-errors .error { background-image: url(/images/exclamation.png); color: #BC180F;  }

.content-warnings { background-color: #F7E6A1; border-color: #E1A63C;  color: #AD370D; }
.content-warnings .title {  color: #AD370D; }
.content-warnings .warning { background-image: url(/images/warning.png); background-position: 0 -2px;  color: #AD370D; }

.validation-errors .validation-actions { margin: 1em 0 0; zoom: 1; }
.validation-errors .validation-actions .delete-action { float: right; }

/**************************************
* Form Common Controls
**************************************/
/* Date Component */
.form .date { border: none; padding: 0; z-index: 1; }
.form .date .field-label { color: #000; /* IE hack */ }
.form .date .control { float: left; margin: 0 .5em 0 0;  }
.form .date .control-label { display: none; }
.form .date .control:after { font-size: 22px; line-height: 26px; color: #b7b9be; }
.form .date .control.day:after { content: "\00a0/"; }
.form .date .control.month:after { content: "\00a0/";  }
.form .date .input { display: block; float: left; position: relative; top: -1px; padding: 3px; line-height: 18px; width: 2em; }
.form .date .year .input { width: 46px; }
.form .date.error .input { border-color: #E3A2A5; color: #BC180F; background: #FDE2E4; }

/* Time Component */
.form .time { border:none; }
.form .time .control { float: left; }
.form .time .field-label { color: 000; /* IE hack */ }
.form .time .hour { position: relative;  padding-right: .5em; }
.form .time .hour .control-label { visibility: hidden; position: absolute; }
.form .time .hour:after { content: ":"; color: #000; font-weight: bolder; color: #858993; width: .5em; position: absolute; top: 0; right: 0; line-height: 24px; display: block;  text-align: center; }
.form .time .minute { margin-right: .25em; }
.form .time .minute .control-label { visibility: hidden; position: absolute; }
.form .time .is_pm { position: relative; top: 4px; }
.form .time .input { padding: 3px; line-height: 18px; position: relative; top: -1px; width: 2em; }
.form .time.error .input { border: 1px solid #E3A2A5; color: #BC180F; background: #FDE2E4; }
.form .time .field-label .format { font-size: 10px; }

/* Color */
.form .color:after { content: "."; display: block; visibility: hidden; clear: both; height: 0; }
.form .color .input { width: auto; float: left; width: 60px; }


/* Favorite 
.favorite {  width: 20px; overflow: hidden; text-indent: -99px !important;  background: transparent url(/images/star.png) no-repeat 50% 50%; }
.favorite.checked { background-image: url(/images/starFilled.png); }
.form .favorite { cursor: pointer; } */


.form .favorite { width: 30px; overflow: hidden; }
.form thead .favorite { text-indent: -99px; }
.form .favorite .action { width: 24px; text-align: center; }
.form .favorite .action > input { visibility: hidden; position: absolute; }
.form .favorite .action > span { background: transparent url(/images/star.png) no-repeat 50% 50%;  text-indent: -99px !important; display: block; }
.form .favorite.checked .action > span { background-image: url(/images/starFilled.png); }

/* Print */
.print { display: block; width: 20px; height: 40px; overflow: hidden; text-indent: -99px; background: transparent url(/images/printer.png) no-repeat 50% 18px; cursor: pointer;  }

/* Email Addresses */
.email .address {  overflow: hidden; text-overflow: ellipsis; }
.form .email thead .contact { text-indent: -99px; }
.form .email .contact { cursor: pointer; width: 30px; overflow: hidden; cursor: pointer; }
.form .email .contact .action { width: 24px; text-align: center; }
.form .email .contact .action > span {  background: transparent url(/images/email.png) no-repeat 50% 50%;  text-indent: -99px; display: block; }
.form .email .contact.checked .action > span { background-image: url(/images/emailFilled.png); }


/* Address Component */
.addresses .remove-address { position: absolute; top: 32px; right: 0; }
.addresses .address:first-child { border-top: none !important; }
.addresses .item { position: relative; zoom: 1;}
.addresses .type { width: 15%; position: absolute; top: 6px; left: 60%; text-align: left; }
.addresses .street { width: 60%; margin-right: 40% !important; float: left;  margin-bottom: 4px !important; }
.addresses .street + .street { clear: left; }
.addresses .street:after { content:"."; display: block; height: 0; visibility: hidden; clear: both; }
.addresses .street + .street .field-label { visibility: hidden; position: absolute; }
.addresses .city {  width: 30%; float: left; clear: left; margin-bottom: 0; }
.addresses .zip,
.addresses .state { width: 15%; margin-bottom: 0; }
.addresses .field .field-label {}
.addresses .field-list { padding-top: 0; }
.addresses .favorite,
.addresses .print { position: absolute; top: 24px; left: 75%; }
.addresses .radio.favorite { top: 34px;  }
.addresses .favorite .value { background-color: transparent; border: none; }
.addresses .print { margin-left: 30px; }
.addresses .open-map { position: absolute; top: 42px; left: 75%; margin-left: 65px; }
.open-map { position: relative; background: url(/images/map.png) no-repeat; overflow: hidden; display: block; height: 16px; width: 16px; text-indent: -999px; }
.open-map.disabled { background-image: url(/images/map-bw.png); }

.web .location { width: 100px; }

/* Placeholder Styles */
.placeholder .field-label { position: absolute; height: auto; text-indent: 4px; padding: 0; left: 0; top: 0; bottom: 0; width: 100%; text-align: left; font-size: 13px; line-height: 25px; margin: 0px; color: #B7B9BE !important; cursor: text; z-index: 10; }
