@import "../shared";

/***************************************
* Licenses Search Form Skin
* @extends .records-form
***************************************/
.licenses-form .license { width: 49%; float: left; }
.licenses-form .license .status { width: 29%; }
.licenses-form .license .state { width: 15%; }
.licenses-form .license .expires-at-before { width: 55%; }

.licenses-form .carrier { width: 49%; float: right; z-index: 2; }
.licenses-form .advisor { width: 49%; float: left; clear: both; z-index: 1; }
.licenses-form .managed-by { width: 49%; float: right; z-index: 1; }

.licenses-form .search-field { width: 100%; }
.licenses-form .search-field .field-label { visibility: hidden; }

/***************************************
* License Record
* @extends .record
***************************************/
.license-record .license .number { width: 30%; }
.license-record .license .state { width: 10%; }
.license-record .license .status { width: 20% }
.license-record .license .is-corporate,
.license-record .license .is-non-resident { width: 20%; }
.license-record .license .expires-at { width: 50%; }
.license-record .license .effective-at { width: 50%; }

/***************************************
* License Record Form Skin
* @extends .record-form
***************************************/
.license-form .information .number { width: 30%; }
.license-form .information .state { width: 10%; }
.license-form .information .status { width: 20%; }
.license-form .information .corporate,
.license-form .information .non-resident { width: 20%; margin-top: 36px; }
.license-form .information .expires-at { clear: left; width: 30% }
.license-form .information .effective-at { width: 30%; }

.license-form .licensed { width: 40%;  }
