@import "../shared";

/** 
* Message Search Styles
*/
.messages-search .global-search { margin: 0; position: relative; top: -1px; }
.messages-search .search > div { float: left; }
.messages-search .actions { float: right; }
.messages-search .actions .input { padding: 0 .5em; }
.messages-search {
 margin: 10px 0 0 0;
 border-radius: 3px;
 border: 1px solid #D6D6D6; 
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, to(#FAFAFA), from(#F4F4F5));
 background: -moz-linear-gradient(19% 75% 90deg, #F4F4F5, #FAFAFA);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#F4F4F5', EndColorStr='#FAFAFA'); /* IE6,IE7 */
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#F4F4F5', EndColorStr='#FAFAFA')";
 padding: 5px;
}
.messages-search .messages-search-head { float: left; margin: 0; font-size: 14px; color: #60656C; font-weight: normal; line-height: 28px; }
.messages-search:after { content: "."; display: block; visibility: hidden; clear: both; height: 0; }

/**
* Message form styles
*/
.message-form { clear: left; background-color: $gray-lightest; border: 1px solid #cbcac8; padding: 1em; zoom: 1; }
.message-form .field label { margin-right: 0; }
.message-form .text { width: 100%; }
.message-form:after { content: "."; display: block; visibility: hidden; clear: both; height: 0; }
.message-form .field-group { border-top: 1px dotted $gray-lighter; padding-bottom: 0; }
.message-form .field-group-head { color: #60656C;  font-weight: normal; font-size: 12px; font-family: Georgia; text-transform: uppercase; }

.message-form .subject { float: none; margin-top: 0; }
.message-form .subject .field-label { visibility: hidden; position: absolute; }

.message-form .note { width: 100%; float: none; margin-top: 1em; }
.message-form .note > label { margin-right: 6px; }
.message-form .note .field-label { visibility: hidden; position: absolute; }
.message-form .date { width: auto; margin-right: 2em; }

.message-form .options { float: left; margin-top: 0; border: none; padding: 0; }
.message-form .options .field-group-head { visibility: hidden; position: absolute; }
.message-form .options .field { float: left; background-color: $gray-lighter; border-radius: 3px; -moz-border-radius: 3px; height: 30px; line-height: 30px; margin:0 10px 0 0; padding: 0 .5em; white-space: nowrap; }
.message-form .options .field-label { margin-right: 5px; color: #696966; line-height: 18px; display: inline !important; }
.message-form .options label { white-space: nowrap; }
.message-form .options select.input { top: 0; display: inline; }

.message-form .form-actions { background-color: transparent; padding: 0; zoom: 1; border: none; float: right; clear: none; }

.message-form .complete { float: right; height: 30px; line-height: 30px; padding: 0 .5em; margin-top: 20px;  background-color: $gray-lighter; border: 1px solid $gray-lighter; -moz-border-radius: 5px; border-radius: 5px; }
.message-form .complete .field-label { text-transform: none; }

.messages .form-title {  margin: 0 1em -1px 0; z-index: 1; -webkit-user-select: none; -moz-user-select: none; }
.messages .form-title.active {  background: transparent url(/images/dlgArrow.png) no-repeat scroll bottom center;padding-bottom: 15px; }

.message-sub-forms .edit-thread,
.messages .form-title > span {  display: block; padding: .5em .75em; border: 1px solid $gray-lighter; font-size: 10px; cursor: pointer; font-weight: normal; color: #60656C; background-color: $gray-lightest; font-family: Lucida Sans; -moz-border-radius: 3px; border-radius: 3px; }


/**
* Message list styles
*/
.messages { margin: 2em 0 10px; }
.messages .note-date .notified,
.messages .message-date .notified { padding-left: 20px; background: transparent url(/images/sprite.png) no-repeat 0px -226px; font-style:italic; }
.messages .note-date .private,
.messages .message-date .private { padding-left: 18px; background: transparent url(/images/lock.gif) no-repeat left; font-style:italic; }
.messages .message { position: relative; padding-top: .5em; zoom: 1; }
.messages .remove-action { float: right; margin-right: 1em; }
.messages .message:after { content: "."; display: block; visibility: hidden; clear: both; height: 0; }
.messages .message + .message { margin-top: 1em; border-top: 1px dotted #B7B9BE;  }
.messages .message-subject { display: inline; color: #4E6E9D; font-family: Georgia; font-size: 16px; font-weight: normal; }
.nMessage .message-date { display: block; color: #858993; font-size: 12px; padding: 5px 0px 15px; }
.messages .message-title + .message-date { margin-left: 5px; }
.messages .message-body { margin: .25em 0; color: #222; font-size: 12px; margin-bottom: 10px; white-space: pre-wrap; word-wrap: break-word; }
.messages .follow-up { display: inline-block; background: #EEF7DB; border: 1px solid #D6ECA4; color: #66953C; margin-right: 5px; cursor: pointer; font-size: 12px; padding: 4px 7px;}
.messages .message-actions { display: block; position: absolute; top: .5em; right: 0; }
.messages .message-actions:after { content: "."; display: block; visibility: hidden; clear: both; height: 0; }
.messages .message-actions > .action { display: inline-block; padding: .25em .5em; }
.messages .message-notes  { clear: both; margin: .5em 0 1em; padding: 0 1em; background-color: $gray-lightest; border-left: 5px solid $gray-lighter; }
.messages .message-notes .note { padding: 1em 0; position: relative; }
.messages .message-notes .note-body {  font-size: 12px; color: #353535; }
.messages .message-notes .note-date { color: #858993; font-size: 12px; padding: 4px 0;}
.messages .message-notes .note + .note { border-top: 1px dotted $gray-lighter; }
.messages .message-notes .delete-message-form { position: absolute; bottom: 10px; right: 0; margin-right: 0;}

.messages .show-notes { color: #4E6E9D; cursor: pointer; }
.messages .show-notes:hover { text-decoration: underline; }

.empty-messages { margin-top: 1em; color: #858993; border-bottom: 1px dotted $gray-lighter; font-family: Georgia; text-align: center; font-size: 14px; padding-bottom: 1em; }

/**
* Message Sub Form Styles 
**/
.message-sub-forms {  position: relative; padding-top: 24px; }
.message-sub-forms > .form-title { position: absolute; top: 0;  }
.message-sub-forms > .message-form { display: none; margin-top: 14px;  }
.message-sub-forms > .active + .message-form { display: block; }

.message-sub-forms .delete-message-form .action { position: absolute; top: 0; right: 0; }

.message-sub-forms .edit-thread { position: absolute; top: 0; right: 0; }
.message-sub-forms .edit-thread span { border-bottom: none; }
.message-sub-forms .edit-thread { display: none; }
.message:hover .edit-thread { display: block; }

/* Note Sub Form */
.message-sub-forms .note-form-title { left: 0; }
.message-sub-forms .note-form-title > span { display: block; padding-left: 27px; background-image: url(/images/comment_add.png); background-position: 7px 4px; background-repeat: no-repeat; }
.message-sub-forms .note-form .text { margin: 0; padding: 0 0 .5em; }
.message-sub-forms .note-form .text label { display: block; }
.message-sub-forms .note-form .text .input { margin: 0; padding: 4px 0 4px 4px; display: block; width: 100%; font-size: 12px; }
.message-sub-forms .note-form .form-actions { text-align: right; padding: 0; position: relative; left: 4px; }
.message-sub-forms .note-form .text .field-label { display: none; }

/* Activity Sub Form */
.message-sub-forms .activity-form-title { left: 60px; overflow: hidden; }
.message-sub-forms .activity-form-title > span { display: block; padding-left: 28px; background-image: url(/images/sprite.png); background-position: 7px -108px; background-repeat: no-repeat; }
.message-sub-forms .activity-form-title.in-progress > span{ width: auto; text-indent: 0; padding-left: 28px;  border-color: #D6ECA4; background-color: #EEF7DB; color: #66953C;  }
.message-sub-forms .activity-form-title.overdue > span {  color: #BC180F; }
.message-sub-forms .activity-form .search { width: 100%; }
.message-sub-forms .activity-form .search .field-label { display: none; }
.message-sub-forms .activity-form .assign-activity > * { margin-bottom: 0; }
.message-sub-forms .activity-form .form-actions{ margin-top: 1em; }

/* Notify Sub Form */
.message-sub-forms .notify-form-title { left: 60px; }
.message-sub-forms .notify-form-title ~ .activity-form-title { left: 123px; }
.message-sub-forms .notify-form-title > span { display: block; padding-left: 30px; background-image: url(/images/sprite.png); background-position: 7px -248px; background-repeat: no-repeat; }
.message-sub-forms .notify-form .form-actions { float: none; }
.message-sub-forms .notify-form .note { float: none; margin-top: 0; }
.message-sub-forms .notify-form .message { display: block; float: left; font-size: 12px; background-color: $gray-lighter; border-radius: 3px; -moz-border-radius: 3px; height: 30px; line-height: 30px; margin:0 10px 0 0; padding: 0 .5em; }