
@import "../shared";


/***************************************
* Override Skin
* @extends .form, .record
***************************************/
.paid-premiums-form table { table-layout: fixed; margin-top: 1em; }
.policy-paid-premiums tr > .paid-premium { width: 20%; }
.policy-paid-premiums tr > .paid-date { width: 30%; }
.policy-paid-premiums tr > .override { width: 25%; }
.policy-paid-premiums tr > .override-percent { width: 15%;  }
.policy-paid-premiums tr > .actions { width: 10%; }

.paid-premiums-form .date .field-label { display: none; }
.paid-premiums-form .clone-action { margin-left: 10px; }

.paid-premiums-form, 
.paid-premium-record { padding-top: 2em; }
.paid-premiums-form .field-group,
.paid-premium-record .field-group { border-top-width: 1px; padding: 0.5em 0px 2em; width: 100%; clear: both; }
.paid-premiums-form .field-group-head,
.paid-premium-record .field-group-head { visibility: visible !important; }

.paid-premiums-form td.override { padding-right: 50px !important; position: relative; }
.paid-premiums-form td.override .input { float: left; }
.paid-premiums-form td.override .sum-action { float: right; margin-right: -30px; position: relative; top: -1px; }

.policy-totals { border-top: 3px double #B7B9BE !important; margin-top: -2em; }
.policy-totals .field-list { margin-top: 0; }
.policy-totals .total-premium { width: 65%; }
.policy-totals .field-group-head { display: none; }
.policy-totals .total-override { width: 35%;  }
.policy-totals  .value { display: inline !important; font-weight: bold; margin-right: 10px; border: none !important; background-color: transparent !important; }

.paid-premium-record .policy-paid-premiums tr > .override { width: 35%; }

/***************************************
* Policy Form Skin
* @extends .record-form
***************************************/
.policy-form .information .policy-number { width: 20%; }
.policy-form .information .state { width: 10%; }
.policy-form .information .status { width: 15%; }
.policy-form .information .created-by { width: 25%; }
.policy-form .information .tax-status { width: 29.99%; }
.policy-form .information .tobacco-status { width: 15%; }
.policy-form .information .risk-class { width: 14.99%; }
.policy-form .information .payment-mode { width: 18.99%; clear: both; }
.policy-form .information .modal-premium,
.policy-form .information .face-amount,
.policy-form .information .tenthirtyfive-funds { width: 27%; }

.policy-form .entity-search { width: 50%; }
.policy-form .entity-search + .label { width: 49%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.policy-form .holders .name { width: 50%; }
.policy-form .holders .field-list { clear: both; }

.policy-form .dates .date { width: 49.9%; }

.policy-form .premium { width: 77% !important; float: right !important; /* IE7 hacks*/  }
.policy-form .premium table .date .field-label,
.policy-form .premium .total-premium .field-label { display: none; }
.policy-form .premium .total-premium .value { padding-left: 0; }

.policy-form .carrier,
.policy-form .product { width: 32%; margin-top: 1.5em; padding-right: 1%; }
.policy-form .case-manager { width: 32.99%; margin-top: 1.5em; padding-right: 1%; }
.policy-form .carrier { float: left; }
.policy-form .product { float: left; }
.policy-form .case-manager { float: right; }

.policy-form .search { width: 100%; }

.policy-form .premium-list { float: left; width: 70%; }

.policy-form .premium-list .type { width: 20%; }
.policy-form .premium-list .premium-amount { width: 30%; }
.policy-form .premium-list th.type { visibility: hidden; }
.policy-form .premium-list .totals td { border-top: 3px double #B7B9BE;  padding-top: 6px; }

.policy-form .annuity-premium-list { width: 100%; }
.policy-form .annuity-premium-list tr > .submitted-date { width: 35%; }

.policy-form .form-actions label { display: inline-block; background-color: $gray-lighter; border-radius: 3px; -moz-border-radius: 3px; height: 30px; line-height: 30px; margin:0 10px 0 0; padding: 0 .5em; } 

/***************************************
* Policies Search Form Skin
* @extends .record-form
***************************************/
.policies-form .policy { width: 44%; float: left; clear: none; }
.policies-form .policy .status { width: 40%; }
.policies-form .policy .channel { width: 40%; }
.policies-form .policy .state { width: 19.9%; }

.policies-form .submitted-at-range { width: 54%; float: right; clear: none; }
.policies-form .submitted-at-range .date { width: 49.9%; }

/* Z-index is needed for IE 7-8 *
.policies-form .carrier { width: 23.3%; clear: both; float: left; margin-right: 2%; z-index: 2; }
.policies-form .policy-holder { width: 23.3%; float: left; margin-right: 2%;  z-index: 2; }
.policies-form .advisor { width: 23.3%; float: left; margin-right: 2%; z-index: 1; }
.policies-form .case-manager { width: 23%; float: left; z-index: 2; }

.policies-form .search-field { width: 100%; }
.policies-form .search-field .field-label { visibility: hidden; }

/***************************************
* Policy Record Skin
* @extends .record-form
***************************************/
.policy-record .premium .total-premium .value { border: none; background-color: transparent; }
.policy-record .premium .total-premium .field-label { display: none; }

.policy-record .policy .policy-number { width: 20%; }
.policy-record .policy .state { width: 10%; }
.policy-record .policy .status { width: 15%; }
.policy-record .policy .created-by { width: 25%; }
.policy-record .policy .tax-status { width: 29.99%; }
.policy-record .policy .tobacco-status { width: 15%; }
.policy-record .policy .risk-class { width: 14.99%; }

.policy-record .policy .payment-mode { width: 18.99%; clear:both; }
.policy-record .policy .modal-premium, 
.policy-record .policy .face-amount, 
.policy-record .policy .tenthirtyfive-funds { width: 27%; }

.policy-record .policy .carrier { width: 33%; clear: both; }
.policy-record .policy .product { width: 33%; }
.policy-record .policy .case-manager { width: 33.99%; float: right; }

.policy-record .dates > .field { width: 50%; }

.policy-record .field-list th.type { text-indent: -9999px; position: relative; overflow: hidden; }

.policy-record .submitted-premiums .totals td { border-top: 3px double #B7B9BE; }

.policy-record .inforce-premiums .field { width: 33%; }

.policy-advisors .name { vertical-align: middle !important; }
.policy-advisors .commission-percent { width: 100px; }
.policy-advisors .actions { width: 100px; }
.policy-advisors .flags { width: 150px; }

.funding-table .source { width: 45%; }
.funding-table .input { display: block; width: 100%; }
.funding-table .total-funding { padding-top: 1em; border-bottom: none; }
.funding-table thead .actions { text-indent: -99999px !important; }
.funding-table .totals  .item > * { border: none !important; padding: 6px; border-top-style: solid; }
.funding-table .total-funding-label { text-align: right; padding-top: 1em; padding-right: 10px; font-weight: normal; }

/***********************************
* Policy Overivew 
************************************/
.policy-overview .policy-holders .age,
.policy-overview .policy-holders .ssn { float: left; width: 50%; padding: .25em 0; }

.policy-overview .policy-holders .age  .field-label,
.policy-overview .policy-holders .ssn .field-label { float: none; margin-left: 1em; }

.policy-overview .policy-holders .age  .value,
.policy-overview .policy-holders .ssn .value {  margin: 0; }



