@import "../shared";

/***************************************
* Product Record Form Skin
* @extends .record-form
***************************************/
.product-form .product .name { width: 60%; }
.product-form .product .min-age { width: 10%; }
.product-form .product .max-age { width: 10%; }
.product-form .product .line { width: 20%; }
.product-form .product .driver { width: 100%; clear: left; }
.product-form .product .driver .control { float: left; margin-right: 10px;}
.product-form .states .state { float: left; width: 20%; clear: none; margin: .5em 0; }

.product-form .carrier .search { width: 49%; }

/***************************************
* Products Search Form Skin
* @extends .records-form
***************************************/
.products-form .product { width: 49%; float: left; }
.products-form .product .name { width: 70%; }
.products-form .product .channel { width: 30%; }

.products-form .carrier { width: 49%; float: right; z-index: 1; }
.products-form .carrier .search-field { width: 100%; }
.products-form .carrier .search-field .field-label { visibility: hidden; }


/***************************************
* Product Record Skin
* @extends .record
***************************************/
.product-record .product .name { width: 60%; }
.product-record .product .age-range { width: 20%; }
.product-record .product .line { width: 20%; }
.product-record .product .driver { width: 100%; clear:left; }
.product-record .product .carrier { width: 50%; }
.product-record .product-states { width: 50%; float: right; }