@import "../shared";

/************************************
*  Indexes
************************************/
.records-form + .records { margin-top: 2em; }

.records-actions { background-color: #F7F8FB; border: 1px solid #BDD2F0;  padding: 5px; border-bottom: none; text-align: left; zoom: 1; }
.records-actions:after { content: "."; display: block; visibility: hidden; clear: both; height: 0; }
.records-actions .action { float: right; margin-left: 5px; }
.records-actions .field-label { font-size: 14px; text-transform: uppercase; font-family: Georgia; color: #16355B; }
.records-actions .export { float: right; margin-left: 5px; }
.records-actions .screen { border: none; float: left; margin: 0; padding: 0 3px; height: 28px; line-height: 28px; border: 1px solid #e3e3e3; background-color: #e9ebee; border-radius: 7px; }
.records-actions .screen > label { float: left; }
.records-actions .screen > .action { display: none; }

.records { position: relative; overflow-x: scroll; padding-bottom: 14; overflow-y: visible; margin-bottom: 10px; border: 1px solid #EDF0F7; border-bottom: 1px solid #EDF0F7; border-top: none; }
.records table { clear: both;  border-spacing: 0; border-collapse: collapse; width: 100%; font-size: 12px; text-align: left; position: relative; }
.records .hidden { display: none; }
.records thead th { border: 1px solid #BDD2F0; color: #122A3C; padding: .5em 0;  background-color: $blue-gray; text-indent: .5em; line-height: 22px; white-space: nowrap; cursor: pointer; }
.records thead th label { padding: 0 5px 0 0; }
.records thead th > span { display: block; position: relative; padding-right: 25px;}
.records tbody td { color: #16355B; border: 1px solid #EDF0F7; padding: .5em; background-color: #FFFFFF; border-width: 1px 0 0 1px; }
.records tbody td a { font-weight: bold; color: #16355B; border-bottom: 1px solid $gray-lighter; text-decoration: none; }
.records .odd td { background-color: #F7F8FB; }

.records tr:hover td,
.records .highlight td { background-color: #E5E6EC; }


.records tbody { overflow: auto; position: relative; }
.records td { white-space: nowrap; }
.records tr > *:first-child { border-left: none; }

.records .sort-control { background: transparent url(/images/sort-down.png) no-repeat; display: inline-block; width: 20px; height: 20px; border: none; margin: 0; overflow: hidden; text-indent: 20px; cursor: pointer; line-height: 0; position: absolute; top: 0; right: 5px;}
.records .sort-control:hover { background-image: url(/images/sort-down-selected.png); }
.records .ascending, 
.records .ascending:hover { background-image: url(/images/sort-up-selected.png); }
.records .descending, 
.records .descending:hover { background-image: url(/images/sort-down-selected.png); }

.records tbody .actions { list-style: none; float: left; margin: 0; padding: 0; }
.records .actions > li { float: left; }
.records .actions > li + li { margin-left: .5em; }

.empty-records { background-color: #FCEDB9; border: 1px solid #F7A30E; margin: 10px 0 10px; height: 50px; line-height: 50px; padding: 0 1em; font-size: 16px; color: #BF3A37; }

/*************************************
*   Paging Control
*************************************/
.page-control {  border: 1px solid $gray-lighter; padding: 5px; margin: 0; float: right; zoom: 1; position: relative; }
.page-control > li { display: block; float: left; white-space: nowrap;  }
.page-control > .control > input { text-decoration: none; display: inline-block; background: transparent; border: none; height: 30px; line-height: 30px; padding: 0 10px; margin: 0; cursor: pointer; }

.page-control > .previous { background-color: $blue-gray; border: 1px solid $blue-gray; }
.page-control > .previous > input {  color: #16355B; }
.page-control > .previous > span { display: inline-block;}

.page-control > .next { background-color: $blue-gray; border: 1px solid $blue-gray; }
.page-control > .next > span { display: inline-block; }
.page-control > .next > input {  color: #16355B; }

.page-control > .page { border: 1px solid $gray-lighter; }
.page-control > .page > input { color: #4E6E9D; }
.page-control > .page > input:hover { background-color: #7FA3D9; color: #F3F3F3; }
.page-control .page + .page { border-left: none; }

.page-control > .hidden-pages { border: 1px solid $gray-lighter; border-width: 1px 0; background-color: $gray-lightest; }
.page-control > .hidden-pages > abbr { display: block; height: 30px;  padding: 0 10px;  line-height: 30px; }

.page-control .current { background-color: #152130; }
.page-control .current > input { color: #FFF; }

/*************************************
*   Draggable
*************************************/
.records .moving { visibility: hidden; border-color: transparent !important; }

/*************************************
*   Column Filter
*************************************/
.column-filter {  position: relative; z-index: 1000; height: 28px; float: right; margin-left: 5px; }
.column-filter .filter-options { position: absolute; top: 25px; right: 0; margin-right: -125px; width: 250px; padding-top: 9px; text-align: left; background: transparent url(/images/upArrow.png) no-repeat scroll 10px top; }
.column-filter .filter-options .filters { border: 5px solid #7C9FDB; border-top-width: 0; }
.column-filter .filter-options .filters-head { margin: 0; text-indent: 4px; line-height: 28px; border: 5px solid #7C9FDB; border-bottom: none; background-color: #B4CAEE; font-weight: normal; text-transform: uppercase; text-shadow: 0 1px #7E90B0; }

.column-filter .filter { line-height: 12px;  border-top: 1px solid #FFF; border-bottom: 1px solid #8FAAD0; }
.column-filter .filter > span { cursor: pointer; display: block; font-size: 12px; background-color: #E8EEF9; padding: .35em .5em .35em 20px; color: #122A3C; font-weight: bold; }
.column-filter .filter > span:hover { background-color: #FCFEFF; }
.column-filter .selected > span { background: #E8EEF9 url(/images/check.png) no-repeat scroll 5px; }