@import "../shared";

/******************************************************************************************************
* Record Form
* @extends .form
*
* A report form is used to generate reports.
******************************************************************************************************/

.report-form { padding: 1em; background-color: $gray-lightest; border: 1px solid #cbcac8; font-family: "Lucida Grande"; zoom: 1; }
.report-form .field-group { border-top: 1px dotted #cbcac8; padding-bottom: 1em; }

/* Individual Report Form */
.individual-report .entities { position: relative; float: left; width: 28%; margin-right: 2%; }
.individual-report .entities .search { margin-top: 0; width: 100%; }
.individual-report .entities .search .field-label { display: none; }
.individual-report .entities .control { clear: both; float: none; }
.individual-report .entities .no-entity { color: #C2C6CD; }
.individual-report .time-period { width: 24%; float: left; }
.individual-report .organization .info { display: block; color: #C2C6CD; padding-left: 1.75em; white-space: normal; }
.individual-report .premium-status,
.individual-report .premium-channel { width: 20%; float: left; margin-right: 1.5%;  }
.individual-report .premium-status .field-label,
.individual-report .premium-channel .field-label { display: none !important; }

/* Itemized Report Form */
.itemized-report .entities { float: left; width: 17%; margin-right: 2%; }
.itemized-report .entities .field-label { display: none !important; }
.itemized-report .entities .control { float: left; width: 50%; margin-bottom: .5em; }
.itemized-report .premium-channel,
.itemized-report .premium-status { width: 17%; float: left; margin-right: 2%; }
.itemized-report .premium-channel .field-label,
.itemized-report .premium-status .field-label { display: none !important;}
.itemized-report .report-style { float: left; width: 17%; }
.itemized-report .report-style .style { float: none; }
.itemized-report .report-style .field-label { display: none; }
.itemized-report .time-period { float: left; width: 24%; margin-right: 2%; }
.itemized-report .time-period .date { float: none; }

/* Yearly Report Form */
.year-report .entities { float: left; width: 23%; margin-right: 2%;  }
.year-report .entities .field-label { display: none; }
.year-report .entities .control { float: left; width: 50%; margin-bottom: .5em; }
.year-report .premium-types { float: left; width: 48%; margin-right: 2%; }
.year-report .premium-types .status .control { float: left; margin-right: 1em; }
.year-report .field-label { display: none !important; }
.year-report .field-group { float: left; width: 22.99%; margin-right: 2%; }

/* Summary Report */
.summary-report .field-group { float: left; width: 22.99%; margin-right: 2%; }
.summary-report .entities .field-label,
.summary-report .policy-status .field-label,
.summary-report .policy-channel .field-label { display: none !important; }

/* Combination Report */
.combination-report .field-group { float: left; width: 30.99%; margin-right: 2%; }
.combination-report .policy-status .field-label,
.combination-report .policy-channel .field-label { display: none !important; }
.combination-report .time-period .end-date { clear: left; width: 100%; }

/* Policies Report */
.policies-report .search { width: 100%; }
.policies-report .search .field-label { display: none; }
.policies-report .carrier { width: 28%; float: left; margin-right: 2% }
.policies-report .premium-channel { width: 18%; float: left; margin-right: 2%}
.policies-report .premium-channel .field-label { display: none !important; }
.policies-report .time-period { width: 49%; float: right; }
.policies-report .time-period .date + .date { margin-left: 2em; }

/* My Advisors Report */
.my-advisors-report { float: left; width: 30%; margin-bottom: 2em;  }
.my-advisors-report + .my-advisors-report { float: right; width: 63.5%; }
.my-advisors-report .not-contacted-since { float: left; width: 100%; margin-right: 1%; }
.my-advisors-report .time-period { float: right; width: 100%; }
.my-advisors-report .time-period .date + .date { margin-left: 2em; }

/* Custom Reports */
.custom-reports { width: 35%; }
.custom-reports thead { display: none; }
.custom-reports .actions { text-align: right; }

.custom-report-form .name { width: 100%; }
.custom-report-form .sql { width: 100%; clear: both; }